body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    margin: 0;
    background-color: aquamarine;
}

p{
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    height: 70px;
    width: 200px;
}